// BEGIN PAGE HEADER
.page-bar
    ul.page-breadcrumb
        li
            a(href='#/dashboard') 首页
h3.page-title  欢迎页
// END PAGE HEADER
// BEGIN MAIN CONTENT
div
    .note.note-info
        h3
            | 你好，欢迎使用XX微信后台管理系统，开始美好的一天!
            span.close(data-close='note')
        p
            | 本系统是基于bootstrap3.5开发，如有任何疑问，随时欢迎咨询QQ:1812890566。
        p
    // BEGIN DASHBOARD STATS
    .row
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .dashboard-stat.blue
                .visual
                    i.fa.fa-comments
                .details
                    .number  1349
                    .desc 网站访问次数
                a.more(href='#')
                    | 查看更多
                    i.m-icon-swapright.m-icon-white
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .dashboard-stat.red
                .visual
                    i.fa.fa-bar-chart-o
                .details
                    .number  123,456,888.00
                    .desc  上传图片次数
                a.more(href='#')
                    | 查看更多
                    i.m-icon-swapright.m-icon-white
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .dashboard-stat.green
                .visual
                    i.fa.fa-shopping-cart
                .details
                    .number  549
                    .desc 点赞次数
                a.more(href='#')
                    | 查看更多
                    i.m-icon-swapright.m-icon-white
        .col-lg-3.col-md-3.col-sm-6.col-xs-12
            .dashboard-stat.purple
                .visual
                    i.fa.fa-globe
                .details
                    .number  888
                    .desc  其他
                a.more(href='#')
                    | 查看更多
                    i.m-icon-swapright.m-icon-white
    // END DASHBOARD STATS
    .row
        .col-md-6.col-sm-12
            // BEGIN PORTLET
            .portlet.light.bordered
                .portlet-title
                    .caption.caption-md
                        i.icon-settings.font-green
                        span.caption-subject.font-green.bold.uppercase 收入概况
                        span.caption-helper.hide weekly stats...
                .portlet-body
                    .jumbotron.text-center
                        p something
            // END PORTLET
        .col-md-6.col-sm-12
            // BEGIN PORTLET
            .portlet.light.bordered
                .portlet-title
                    .caption.caption-md
                        i.icon-bar-chart.font-red
                        span.caption-subject.font-red.bold.uppercase 活跃用户
                        span.caption-helper.hide weekly stats...
                .portlet-body
                    .jumbotron.text-center
                        p something
// END MAIN CONTENT
// BEGIN MAIN JS & CSS
script.
    Dashboard.init();
// BEGIN MAIN JS & CSS
