// BEGIN PAGE BAR
.page-bar
    ul.page-breadcrumb
        li
            a(href='#/dashboard') 首页
            i.fa.fa-circle
        li
            span 系统参数设置
// END PAGE BAR
// BEGIN PAGE TITLE
h3.page-title
    | 系统参数设置
// END PAGE TITLE
// END PAGE HEADER
.row
    .col-md-12
        .portlet.light.bordered
            .portlet-title
                .caption.font-red-sunglo
                    i.icon-settings.font-dark-sunglo
                    span.caption-subject.font-dark.sbold.uppercase  系统参数配置
            .portlet-body
                .tabbable-custom
                    ul.nav.nav-tabs
                        li.active
                            a(href='javascript:void(0);', data-target="#tab_weixin", data-toggle='tab')  微信参数设置  nb 
                        li
                            a(href='javascript:void(0);', data-target="#tab_database", data-toggle='tab')  数据库设置
                        li
                            a(href='javascript:void(0);', data-target="#tab_database", data-toggle='tab')  数据库设置
                    .tab-content
                        #tab_weixin.tab-pane.active
                            .form
                                .form-horizontal(role='form')
                                    .form-body
                                        .form-group
                                            label.col-md-2.control-label appID:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='appID')
                                        .form-group
                                            label.col-md-2.control-label appsecret:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='appsecret')
                                        .form-group
                                            label.col-md-2.control-label URL:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='URL')
                                        .form-group
                                            label.col-md-2.control-label Token:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='Token')
                                        .form-group
                                            label.col-md-2.control-label aes:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='aes')
                                        .form-group
                                            label.col-md-2.control-label accessToken:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='accessToken')
                                    .form-actions
                                        button.btn.blue(type='submit') 确定
                                        button.btn.default(type='button') 取消
                        #tab_SMS.tab-pane
                            .form
                                .form-horizontal(role='form')
                                    .form-body
                                        .form-group
                                            label.col-md-2.control-label 短信模板:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='短信模板')
                                                //span.help-block  数据库地址.
                                        .form-group
                                            label.col-md-2.control-label 短信提醒:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='短信提醒')
                                    .form-actions
                                        button.btn.blue(type='submit') 确定
                                        button.btn.default(type='button') 取消
                        #tab_database.tab-pane
                            .form
                                .form-horizontal(role='form')
                                    .form-body
                                        .form-group
                                            label.col-md-2.control-label 数据库地址:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='数据库地址')
                                                //span.help-block  数据库地址.
                                        .form-group
                                            label.col-md-2.control-label 端口:
                                            .col-md-2
                                                input.form-control(type='text', placeholder='端口')
                                                //span.help-block  数据库地址.
                                        .form-group
                                            label.col-md-2.control-label 用户名:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='用户名')
                                        .form-group
                                            label.col-md-2.control-label 密码:
                                            .col-md-6
                                                input.form-control(type='text', placeholder='密码')
                                    .form-actions
                                        button.btn.blue(type='submit') 确定
                                        button.btn.default(type='button') 取消
                        #tab_other.tab-pane
                            | 其他配置