.page-bar
    ul.page-breadcrumb
        li
            a(href='index.html') 首页
            i.fa.fa-circle
        li
            span 新增房产信息
    .page-toolbar
        .btn-group.pull-right
            button.btn.green.btn-sm.btn-outline.dropdown-toggle(type='button', data-toggle='dropdown')
                | Actions
                i.fa.fa-angle-down
            ul.dropdown-menu.pull-right(role='menu')
                li
                    a(href='#')
                        i.icon-bell
                        |  Action
                li
                    a(href='#')
                        i.icon-shield
                        |  Another action
                li
                    a(href='#')
                        i.icon-user
                        |  Something else here
                li.divider
                li
                    a(href='#')
                        i.icon-bag
                        |  Separated link
// END PAGE BAR
// BEGIN PAGE TITLE
h3.page-title
    | 新增房产信息
// END PAGE TITLE
// END PAGE HEADER
.row
    .col-md-12
        // BEGIN VALIDATION STATES
        .portlet.light.portlet-fit.portlet-form.bordered
            .portlet-title
                .caption
                    i.icon-settings.font-dark
                    span.caption-subject.font-dark.sbold.uppercase 新增房产
                .actions
                    .btn-group.btn-group-devided(data-toggle='buttons')
                        label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm.active
                            input#option1.toggle(type='radio', name='options')
                            | Actions
                        label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm
                            input#option2.toggle(type='radio', name='options')
                            | Settings
            .portlet-body
                // BEGIN FORM
                form#form_sample_3.form-horizontal(action='#')
                    .form-body
                        .alert.alert-danger.display-hide
                            button.close(data-close='alert')
                            |  表单信息验证未通过.
                        .alert.alert-success.display-hide
                            button.close(data-close='alert')
                            |  表单验证成功!
                        .row
                            .col-md-6
                                .form-group
                                    label.control-label.col-md-3
                                        | 管理处
                                        span.required  *
                                    .col-md-4
                                        select.form-control.select2me(name='options2')
                                            option(value='') -请选择-
                                            option(value='Option 1') 管理处 1
                                            option(value='Option 2') 管理处 2
                                            option(value='Option 3') 管理处 3
                                            option(value='Option 4') 管理处 4
                                .form-group
                                    label.col-md-3.control-label
                                        | 楼宇编号
                                        span.required  *
                                    .col-md-4
                                        select.form-control.select2me(name='options2')
                                            option(value='') -请选择-
                                            option(value='Option 1') 楼宇编号 1
                                            option(value='Option 2') 楼宇编号 2
                                            option(value='Option 3') 楼宇编号 3
                                            option(value='Option 4') 楼宇编号 4
                                .form-group
                                    label.control-label.col-md-3
                                        | 房间编号
                                        span.required  *
                                    .col-md-4
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 建筑面积
                                        span.required  *
                                    .col-md-4
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 套内面积
                                    .col-md-4
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 公摊面积
                                    .col-md-4
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 房间顺序号
                                    .col-md-4
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 装修情况
                                    .col-md-4
                                        select.form-control.select2me(name='options2')
                                            option(value='') -请选择-
                                            option(value='Option 1') 正在装修 1
                                            option(value='Option 2') 已完成装修 2
                                            option(value='Option 3') 未装修 3
                                .form-group
                                    label.control-label.col-md-3
                                        | 朝向
                                    .col-md-9
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 备注
                                    .col-md-9
                                        textarea.form-control( name='name', rows="3" data-required='1')
                            .col-md-6
                                .form-group
                                    label.control-label.col-md-3
                                        | 房间类型
                                    .col-md-9
                                        select.form-control.select2me(name='options2')
                                            option(value='') -请选择-
                                            option(value='Option 1') 住宅
                                            option(value='Option 2') 上铺
                                .form-group
                                    label.col-md-3.control-label
                                        | 房间状态
                                    .col-md-4
                                        select.form-control.select2me(name='options2')
                                            option(value='') -请选择-
                                            option(value='Option 1') 已入住
                                            option(value='Option 2') 未入住
                                .form-group
                                    label.control-label.col-md-3
                                        | 收费服务对象
                                        span.required  *
                                    .col-md-9
                                        select.form-control.select2me(name='options2')
                                            option(value='') -请选择-
                                            option(value='Option 1') 业主
                                            option(value='Option 2') 租客
                                .form-group
                                    label.control-label.col-md-3
                                        | 楼层数
                                        span.required  *
                                    .col-md-9
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 房间用途
                                    .col-md-9
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 单元号
                                    .col-md-9
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 权属类型
                                    .col-md-9
                                        input.form-control(type='text', name='name', data-required='1')
                                .form-group
                                    label.control-label.col-md-3
                                        | 位置
                                    .col-md-9
                                        input.form-control(type='text', name='name', data-required='1')
                        .form-actions
                            .row
                                .col-md-12
                                    button.btn.green(type='submit') 新增
                                    button.btn.default(type='button') 取消
                // END FORM
            // END VALIDATION STATES
