.nav-cont
    ul
        li.index
            a(href='/mall/home/index.html') 首页
        li.qc
            a(href='/mall/product/detail.html') 闪购
        li.qc
            a(href='/mall/product/detail.html') 限时抢购
        li.qc
            a(href='/mall/product/detail.html') 团购
        li.qc
            a(href='/mall/list/search.html') 列表页
        li.qc.last
            a(href='/mall/blog/detail.html') 今日推荐
    .nav-extra
        i.am-icon-user-secret.am-icon-md.nav-user
        b
        | 我的福利
        i.am-icon-angle-right(style='padding-left: 10px;')