.row
    .col-md-12
        .portlet.light
            .portlet-title.tabbable-line
                .caption.caption-md
                    i.icon-globe.theme-font.hide
                    span.caption-subject.font-blue-madison.bold.uppercase Help
                ul.nav.nav-tabs
                    li.active
                        a(href='#', data-target='#tab_1_1', data-toggle='tab') General Question
                    li
                        a(href='#', data-target='#tab_1_2', data-toggle='tab') Membership
                    li
                        a(href='#', data-target='#tab_1_3', data-toggle='tab') Terms Of Use
            .portlet-body
                .tab-content
                    // GENERAL QUESTION TAB
                    #tab_1_1.tab-pane.active
                        #accordion1.panel-group
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#', data-target='#accordion1_1')
                                            | 1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                                #accordion1_1.panel-collapse.collapse.in
                                    .panel-body
                                        | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf
                                        | moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur
                                        | butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#', data-target='#accordion1_2')
                                            | 2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                                #accordion1_2.panel-collapse.collapse
                                    .panel-body
                                        | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        | accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                        | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                        | raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-success
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#', data-target='#accordion1_3')  3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
                                #accordion1_3.panel-collapse.collapse
                                    .panel-body
                                        | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        | accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                        | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                        | raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-warning
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#', data-target='#accordion1_4')  4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
                                #accordion1_4.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-danger
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#', data-target='#accordion1_5')  5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
                                #accordion1_5.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#', data-target='#accordion1_6')  6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ?
                                #accordion1_6.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion1', href='#', data-target='#accordion1_7')  7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ?
                                #accordion1_7.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                    // END GENERAL QUESTION TAB
                    // MEMBERSHIP TAB
                    #tab_1_2.tab-pane
                        #accordion2.panel-group
                            .panel.panel-warning
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#', data-target='#accordion2_1')
                                            | 1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                                #accordion2_1.panel-collapse.collapse.in
                                    .panel-body
                                        p
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                            | vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                                        p
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad
                                            | vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-danger
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#', data-target='#accordion2_2')
                                            | 2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                                #accordion2_2.panel-collapse.collapse
                                    .panel-body
                                        | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        | accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                        | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                        | raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-success
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#', data-target='#accordion2_3')  3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
                                #accordion2_3.panel-collapse.collapse
                                    .panel-body
                                        | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        | accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                        | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                        | raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#', data-target='#accordion2_4')  4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
                                #accordion2_4.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#', data-target='#accordion2_5')  5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
                                #accordion2_5.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#', data-target='#accordion2_6')  6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ?
                                #accordion2_6.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion2', href='#', data-target='#accordion2_7')  7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ?
                                #accordion2_7.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                    // END MEMBERSHIP TAB
                    // TERMS OF USE TAB
                    #tab_1_3.tab-pane
                        #accordion3.panel-group
                            .panel.panel-danger
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#', data-target='#accordion3_1')
                                            | 1. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                                #accordion3_1.panel-collapse.collapse.in
                                    .panel-body
                                        p
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        p
                                            | Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                                            | 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                                        p
                                            | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                                            | anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus
                                            | labore sustainable VHS.
                            .panel.panel-success
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#', data-target='#accordion3_2')
                                            | 2. Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry ?
                                #accordion3_2.panel-collapse.collapse
                                    .panel-body
                                        | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        | accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                        | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                        | raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#', data-target='#accordion3_3')  3. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor ?
                                #accordion3_3.panel-collapse.collapse
                                    .panel-body
                                        | Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Anim pariatur cliche reprehenderit, enim eiusmod high life
                                        | accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                                        | coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table,
                                        | raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#', data-target='#accordion3_4')  4. Wolf moon officia aute, non cupidatat skateboard dolor brunch ?
                                #accordion3_4.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS.
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#', data-target='#accordion3_5')  5. Leggings occaecat craft beer farm-to-table, raw denim aesthetic ?
                                #accordion3_5.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#', data-target='#accordion3_6')  6. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth ?
                                #accordion3_6.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                            .panel.panel-default
                                .panel-heading
                                    h4.panel-title
                                        a.accordion-toggle(data-toggle='collapse', data-parent='#accordion3', href='#', data-target='#accordion3_7')  7. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft ?
                                #accordion3_7.panel-collapse.collapse
                                    .panel-body
                                        | 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                                        | et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
                                        | you probably haven't heard of them accusamus labore sustainable VHS. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda
                                        | shoreditch et
                    // END TERMS OF USE TAB
