// BEGIN PAGE HEADER
.page-bar
  ul.page-breadcrumb
    li
      i.fa.fa-home
      a(href='#/dashboard') 首页
      i.fa.fa-angle-right
    li
      a(href='#/weixin/menu') 微信菜单管理
h3.page-title
  | 微信菜单管理
// END PAGE HEADER
// BEGIN MAIN CONTENT
.row
  .col-md-12
    .portlet.light.portlet-fit.portlet-form.bordered
      .portlet-title
        .caption
          i.icon-settings.font-dark
          span.caption-subject.font-dark.sbold.uppercase 微信菜单管理
      .portlet-body
        .row
          .col-md-6
            h3(style="padding-left:20px;") 第一种方式添加菜单
            form.form-horizontal(action='#')
              .form-body
                .form-group
                  .col-md-12
                    h4 菜单格式举例
                    code
                      | {"aaa":"bbb"}
                .form-group
                  .col-md-12
                    h4 菜单管理（json格式）
                      span.required  *
                  .col-md-10
                    textarea.form-control(rows=12 name='menu' data-required='1')
              .form-actions
                    button.btn.green(type='submit') 添加菜单1
                    button.btn.default(type='button' style="margin-left:10px;") 取消
          .col-md-6
            h3 第二种方式添加菜单
            .form.form-horizontal(role='form')
              .form-body
                .form-group
                  label.col-md-2.control-label 菜单类型:
                  .col-md-6
                    select.form-control
                .form-group
                  label.col-md-2.control-label 父级菜单:
                  .col-md-6
                    select.form-control
                .form-group
                  label.col-md-2.control-label 菜单名称:
                  .col-md-6
                    input.form-control(type='text', placeholder='URL')
              .form-actions
                button.btn.blue(type='submit') 添加菜单2
                button.btn.default(type='button' style="margin-left:10px;") 取消

