// BEGIN PAGE HEADER
.page-bar
  ul.page-breadcrumb
    li
      i.fa.fa-home
      a(href='#/dashboard') 首页
      i.fa.fa-angle-right
    li
      a(href='#/weixin/menu') 微信消息管理
h3.page-title
  | 微信消息管理
// END PAGE HEADER
// BEGIN MAIN CONTENT
.row
  .col-md-12
    .portlet.light.portlet-fit.portlet-form.bordered
      .portlet-title
        .caption
          i.icon-settings.font-dark
          span.caption-subject.font-dark.sbold.uppercase 微信消息管理
      .portlet-body
        .table-scrollable
          table.table.table-hover
            thead
              tr
                th  #
                th  First Name
                th  Last Name
                th  Username
                th  Status
            tbody
              tr
                td  1
                td  Mark
                td  Otto
                td  makr124
                td
                  span.label.label-sm.label-success  Approved
              tr
                td  2
                td  Jacob
                td  Nilson
                td  jac123
                td
                  span.label.label-sm.label-info  Pending
              tr
                td  3
                td  Larry
                td  Cooper
                td  lar
                td
                  span.label.label-sm.label-warning  Suspended
              tr
                td  4
                td  Sandy
                td  Lim
                td  sanlim
                td
                  span.label.label-sm.label-danger  Blocked


