// BEGIN PAGE HEADER
.page-bar
    ul.page-breadcrumb
        li
            a(href='#/dashboard') 首页
            i.fa.fa-circle
        li
            span 数据库设计
            i.fa.fa-circle
        li
            span 系统数据库表
    //.page-toolbar
        .btn-group.pull-right
            button.btn.btn-sm.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                | Actions
                i.fa.fa-angle-down
            ul.dropdown-menu.pull-right(role='menu')
                li
                    a(href='#')
                        i.icon-user
                        |  New User
                li
                    a(href='#')
                        i.icon-present
                        |  New Event
                        span.badge.badge-success 4
                li
                    a(href='#')
                        i.icon-basket
                        |  New order
                li.divider
                li
                    a(href='#')
                        i.icon-flag
                        |  Pending Orders
                        span.badge.badge-danger 4
                li
                    a(href='#')
                        i.icon-users
                        |  Pending Users
                        span.badge.badge-warning 12
h3.page-title
    | 系统数据库表
    //small 角色/权限/用户 表
// END PAGE HEADER
// BEGIN MAIN CONTENT
.row
    .col-md-12
        div.wiki(data-ng-bind-html="database")
