.page-bar
    ul.page-breadcrumb
        li
            a(href='index.html') 首页
            i.fa.fa-circle
        li
            span 开发文档
    //.page-toolbar
        .btn-group.pull-right
            button.btn.green.btn-sm.btn-outline.dropdown-toggle(type='button', data-toggle='dropdown')
                | Actions
                i.fa.fa-angle-down
            ul.dropdown-menu.pull-right(role='menu')
                li
                    a(href='#')
                        i.icon-bell
                        |  Action
                li
                    a(href='#')
                        i.icon-shield
                        |  Another action
                li
                    a(href='#')
                        i.icon-user
                        |  Something else here
                li.divider
                li
                    a(href='#')
                        i.icon-bag
                        |  Separated link
// END PAGE BAR
// BEGIN PAGE TITLE
h3.page-title
    | 开发文档
// END PAGE TITLE
// END PAGE HEADER
.row
    .col-md-2
        .clearfix
            aside.sidebar
                nav.sidebar-nav
                    ul#menu.metismenu
                        li.active
                            a(href='#', aria-expanded='true')
                                span.sidebar-nav-item-icon.fa.fa-github.fa-lg
                                span.sidebar-nav-item 开发规范
                                span.fa.arrow.fa-fw
                            ul.collapse.in(aria-expanded='true')
                                li
                                    a(href='#')
                                        span.sidebar-nav-item-icon.fa.fa-code-fork.fa-fw
                                        | 命名规范
                                li
                                    a(href='#')
                                        span.sidebar-nav-item-icon.fa.fa-star.fa-fw
                                        | 返回参数
                                li
                                    a(href='#')
                                        span.sidebar-nav-item-icon.fa.fa-exclamation-triangle.fa-fw
                                        | 状态码
                        li
                            a(href='#', aria-expanded='false')
                                | 系统管理
                                span.glyphicon.arrow
                            ul.collapse(aria-expanded='false')
                                li
                                    a(href='#', aria-expanded='false')
                                        | 基本信息设置
                                        span.fa.plus-times
                                    ul.collapse(aria-expanded='false')
                                        li
                                            a(href='#') 系统信息
                                        li
                                            a(href='#') 邮件配置
                                        li
                                            a(href='#') IP配置
                                        li
                                            a(href='#') 其他配置
                                li
                                    a(href='#', aria-expanded='false')
                                        | 角色管理
                                        span.fa.plus-minus
                                    ul.collapse(aria-expanded='false')
                                        li
                                            a(href='#') item 1.5.1
                                        li
                                            a(href='#') item 1.5.2
                                        li
                                            a(href='#') item 1.5.3
                                        li
                                            a(href='#') item 1.5.4
                        li
                            a(href='#', aria-expanded='false')
                                | 收费管理
                                span.glyphicon.arrow
                            ul.collapse(aria-expanded='false')
                                li
                                    a(href='#') 收费1
                                li
                                    a(href='#') 收费2
                                li
                                    a(href='#') 收费3
    .col-md-10
        .wiki(data-ng-bind-html="devApi")