// breadcrumbs start
.breadcrumbs
    .container
        .row
            .col-lg-4.col-sm-4
                h1 About us
            .col-lg-8.col-sm-8
                ol.breadcrumb.pull-right
                    li
                        a(href='#') Home
                    li
                        a(href='#') Pages
                    li.active About
// breadcrumbs end