// BEGIN PAGE HEADER
.page-bar
    ul.page-breadcrumb
        li
            i.fa.fa-home
            a(href='#/dashboard') 首页
            i.fa.fa-angle-right
        li
            a(href='#/role/list') 角色管理
                i.fa.fa-angle-right
        li
            | 角色列表
    .page-toolbar
        .btn-group.pull-right
            button.btn.btn-sm.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', data-hover='dropdown', data-delay='1000', data-close-others='true')
                | Actions
                i.fa.fa-angle-down
            ul.dropdown-menu.pull-right(role='menu')
                li
                    a(href='#')
                        i.icon-user
                        |  New User
                li
                    a(href='#')
                        i.icon-present
                        |  New Event
                        span.badge.badge-success 4
                li
                    a(href='#')
                        i.icon-basket
                        |  New order
                li.divider
                li
                    a(href='#')
                        i.icon-flag
                        |  Pending Orders
                        span.badge.badge-danger 4
                li
                    a(href='#')
                        i.icon-users
                        |  Pending Users
                        span.badge.badge-warning 12
h3.page-title
    | 角色管理
// END PAGE HEADER
// BEGIN MAIN CONTENT
.row
    ui-view
    .col-md-12
        // BEGIN EXAMPLE TABLE PORTLET
        .portlet.light.bordered.app-role
            .portlet-title
                .caption.font-dark
                    i.icon-settings.font-dark
                    span.caption-subject.bold.uppercase  角色列表
                .actions
                    .btn-group.btn-group-devided(data-toggle='buttons')
                        label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm.active
                            input#option1.toggle(type='radio', name='options')
                            | Actions
                        label.btn.btn-transparent.dark.btn-outline.btn-circle.btn-sm
                            input#option2.toggle(type='radio', name='options')
                            | Settings
            .portlet-body.role-list
                .table-toolbar
                    .row
                        .col-md-6
                            .btn-group
                                a#addRole.btn.sbold.green(href="#/role/add")
                                    i.fa.fa-plus
                                    | 新增角色
                        .col-md-6
                            .btn-group.pull-right
                                button.btn.green.btn-outline.dropdown-toggle(data-toggle='dropdown')
                                    | 更多功能
                                    i.fa.fa-angle-down
                                ul.dropdown-menu.pull-right
                                    li
                                        a(href='javascript:;')
                                            i.fa.fa-print
                                            |  打印
                                    li
                                        a(href='javascript:;')
                                            i.fa.fa-file-pdf-o
                                            |  保存为PDF
                                    li
                                        a(href='javascript:;')
                                            i.fa.fa-file-excel-o
                                            |  导出为Excel
                table#sample_1.table.table-striped.table-bordered.table-hover.table-header-fixed.dataTable.no-footer(role='grid', aria-describedby='sample_1_info')
                    thead
                        tr
                            //th
                                input.group-checkable(type='checkbox', data-set='#tableList .checkboxes')
                            th  名称
                            th  英文名称
                            th  生成时间
                            th  描述
                            //th  角色更新时间1
                            //th  角色禁用时间
                            th  状态
                            th  所在组
                            th  配置权限
                            th  操作
                    tbody
                        tr.odd.gradeX(ng-repeat="role in roles")
                            //td
                                input.checkboxes(type='checkbox' ng-model="role.checked")
                            td  {{role.cn}}
                            td  {{role.en}}
                            td  {{role.createTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            td  {{role.description}}
                            //td  {{role.updateTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            //td  {{role.forbidTime | date:'yyyy-MM-dd HH:mm:ss'}}
                            td
                                switch#enabled.green.small(name='enabled', ng-model='role.state', on='启用', off='禁用')
                            td  {{role.roleGroupDesc}}
                            td.center
                                button.btn.btn-xs.btn-success(ng-click="addPermission();") 配置权限
                            td
                                .table-op-wrap
                                    button.btn.btn-xs.btn-success(type="button" ng-click="edit(role);") 编辑
                                    button.btn.btn-xs.btn-danger(type="button" ng-click="del();") 删除
// END MAIN CONTENT
// BEGIN MAIN JS
script.
    TableDatatablesManaged.init();
// END MAIN JS
