doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Mosaddek')
        meta(name='keyword', content='FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
        link(rel='shortcut icon', href='/assets/images/web/favicon.png')
        title XX官网 | 博客
        include ../common/header
    body
        include ../common/nav
        // breadcrumbs start
        .breadcrumbs
            .container
                .row
                    .col-lg-4.col-sm-4
                        h1 Blog
                    .col-lg-8.col-sm-8
                        ol.breadcrumb.pull-right
                            li
                                a(href='#') Home
                            li
                                a(href='#') Pages
                            li.active Blog
        // breadcrumbs end
        // container start
        .container
            .row
                // blog start
                .col-lg-9
                    .blog-item
                        .row
                            .col-lg-2.col-sm-2
                                .date-wrap
                                    span.date 10
                                    span.month September
                                .comnt-wrap
                                    span.comnt-ico
                                        i.fa.fa-comments
                                    span.value 15
                            .col-lg-10.col-sm-10
                                .blog-img
                                    img(src='/assets/images/web/blog/img1.jpg', alt='')
                        .row
                            .col-lg-2.col-sm-2.text-right
                                .author
                                    | By
                                    a(href='#') Admin
                                ul.list-unstyled
                                    li
                                        a(href="#")
                                            em travel
                                    li
                                        a(href="#")
                                            em tour
                                    li
                                        a(href="#")
                                            em recreation
                                    li
                                        a(href="#")
                                            em tourism
                                .shate-view
                                    ul.list-unstyled
                                        li
                                            a(href="#") 209 View
                                        li
                                            a(href="#") 23 Share
                            .col-lg-10.col-sm-10
                                h1
                                    a(href='/web/blog/detail.html')
                                        | Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium.
                                p
                                    | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                a.btn.btn-danger(href='/web/blog/detail.html') Continue Reading
                    .blog-item
                        .row
                            .col-lg-2.col-sm-2
                                .date-wrap
                                    span.date 04
                                    span.month September
                                .comnt-wrap
                                    span.comnt-ico
                                        i.fa.fa-comments
                                    span.value 15
                            .col-lg-10.col-sm-10
                                .blog-img
                                    img(src='/assets/images/web/blog/img2.jpg', alt='')
                        .row
                            .col-lg-2.col-sm-2.text-right
                                .author
                                    | By
                                    a(href='#') Admin
                                ul.list-unstyled
                                    li
                                        a(href="#")
                                            em travel
                                    li
                                        a(href="#")
                                            em tour
                                    li
                                        a(href="#")
                                            em recreation
                                    li
                                        a(href="#")
                                            em tourism
                                .shate-view
                                    ul.list-unstyled
                                        li
                                            a(href="#") 209 View
                                        li
                                            a(href="#") 23 Share
                            .col-lg-10.col-sm-10
                                h1
                                    a(href='/web/blog/detail.html')
                                        | Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium.
                                p
                                    | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                a.btn.btn-danger(href='/web/blog/detail.html') Continue Reading
                    .blog-item
                        .row
                            .col-lg-2.col-sm-2
                                .date-wrap
                                    span.date 09
                                    span.month September
                                .comnt-wrap
                                    span.comnt-ico
                                        i.fa.fa-comments
                                    span.value 15
                            .col-lg-10.col-sm-10
                                .blog-img
                                    img(src='/assets/images/web/blog/img3.jpg', alt='')
                        .row
                            .col-lg-2.col-sm-2.text-right
                                .author
                                    | By
                                    a(href='#') Admin
                                ul.list-unstyled
                                    li
                                        a(href="#")
                                            em travel
                                    li
                                        a(href="#")
                                            em tour
                                    li
                                        a(href="#")
                                            em recreation
                                    li
                                        a(href="#")
                                            em tourism
                                .shate-view
                                    ul.list-unstyled
                                        li
                                            a(href="#") 209 View
                                        li
                                            a(href="#") 23 Share
                            .col-lg-10.col-sm-10
                                h1
                                    a(href='/web/blog/detail.html')
                                        | Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium.
                                p
                                    | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                a.btn.btn-danger(href='/web/blog/detail.html') Continue Reading
                    .blog-item
                        .row
                            .col-lg-2.col-sm-2
                                .date-wrap
                                    span.date 24
                                    span.month September
                                .comnt-wrap
                                    span.comnt-ico
                                        i.fa.fa-comments
                                    span.value 15
                            .col-lg-10.col-sm-10
                                .blog-img
                                    img(src='/assets/images/web/blog/img4.jpg', alt='')
                        .row
                            .col-lg-2.col-sm-2.text-right
                                .author
                                    | By
                                    a(href='#') Admin
                                ul.list-unstyled
                                    li
                                        a(href="#")
                                            em travel
                                    li
                                        a(href="#")
                                            em tour
                                    li
                                        a(href="#")
                                            em recreation
                                    li
                                        a(href="#")
                                            em tourism
                                .shate-view
                                    ul.list-unstyled
                                        li
                                            a(href="#") 209 View
                                        li
                                            a(href="#") 23 Share
                            .col-lg-10.col-sm-10
                                h1
                                    a(href='/web/blog/detail.html')
                                        | Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium.
                                p
                                    | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                a.btn.btn-danger(href='/web/blog/detail.html') Continue Reading
                    .blog-item
                        .row
                            .col-lg-2.col-sm-2
                                .date-wrap
                                    span.date 18
                                    span.month September
                                .comnt-wrap
                                    span.comnt-ico
                                        i.fa.fa-comments
                                    span.value 15
                            .col-lg-10.col-sm-10
                                .blog-img
                                    img(src='/assets/images/web/blog/img1.jpg', alt='')
                        .row
                            .col-lg-2.col-sm-2.text-right
                                .author
                                    | By
                                    a(href='#') Admin
                                ul.list-unstyled
                                    li
                                        a(href="#")
                                            em travel
                                    li
                                        a(href="#")
                                            em tour
                                    li
                                        a(href="#")
                                            em recreation
                                    li
                                        a(href="#")
                                            em tourism
                                .shate-view
                                    ul.list-unstyled
                                        li
                                            a(href="#") 209 View
                                        li
                                            a(href="#") 23 Share
                            .col-lg-10.col-sm-10
                                h1
                                    a(href='/web/blog/detail.html')
                                        | Suspendisse dignissim in sem eget pulvinar. Mauris aliquam nulla at libero pretium.
                                p
                                    | Lid est laborum dolo rumes fugats untras. Etharums ser quidem rerum facilis dolores nemis omnis fugats vitaes nemo minima rerums unsers sadips amets.. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit
                                a.btn.btn-danger(href='/web/blog/detail.html') Continue Reading
                    .text-center
                        ul.pagination
                            li
                                a(href='#') «
                            li.active
                                a(href='#') 1
                            li
                                a(href='#') 2
                            li
                                a(href='#') 3
                            li
                                a(href='#') 4
                            li
                                a(href='#') 5
                            li
                                a(href='#') »
                .col-lg-3
                    .blog-side-item
                        .search-row
                            input.form-control(type='text', placeholder='Search here')
                        .category
                            h3 Categories
                            ul.list-unstyled
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  Animals
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  Landscape
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  Portait
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  Wild Life
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  Video
                        .blog-post
                            h3 Latest Blog Post
                            .media
                                a.pull-left(href="#")
                                    img(src='/assets/images/web/blog/blog-thumb-1.jpg', alt='')
                                .media-body
                                    h5.media-heading
                                        a(href="#") 02 May 2013
                                    p
                                        | Donec id elit non mi porta gravida at eget metus amet int
                            .media
                                a.pull-left(href="#")
                                    img(src='/assets/images/web/blog/blog-thumb-2.jpg', alt='')
                                .media-body
                                    h5.media-heading
                                        a(href="#") 02 May 2013
                                    p
                                        | Donec id elit non mi porta gravida at eget metus amet int
                            .media
                                a.pull-left(href="#")
                                    img(src='/assets/images/web/blog/blog-thumb-3.jpg', alt='')
                                .media-body
                                    h5.media-heading
                                        a(href="#") 02 May 2013
                                    p
                                        | Donec id elit non mi porta gravida at eget metus amet int
                        .tags
                            h3 Tags
                            ul.list-unstyled.tag
                                li
                                    a(href='#') flat
                                li
                                    a(href='#')  clean
                                li
                                    a(href='#')  admin
                                li
                                    a(href='#')  UI
                                li
                                    a(href='#')  responsive
                                li
                                    a(href='#')  Web Design
                                li
                                    a(href='#')  UIX
                                li
                                    a(href='#')  Blog
                                li
                                    a(href='#') flat Admin
                                li
                                    a(href='#')  Dashboard
                        .archive
                            h3 Archive
                            ul.list-unstyled
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  May 2013
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  April 2013
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  March 2013
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  February 2013
                                li
                                    a(href="#")
                                        i.fa.fa-angle-right
                                        |  January 2013
// blog end
// container end
include ../common/footer
