.page-bar
    ul.page-breadcrumb
        li
            a(href='index.html') 首页
            i.fa.fa-circle
        li
            span 业主验房
    //.page-toolbar
        .btn-group.pull-right
            button.btn.green.btn-sm.btn-outline.dropdown-toggle(type='button', data-toggle='dropdown')
                | Actions
                i.fa.fa-angle-down
            ul.dropdown-menu.pull-right(role='menu')
                li
                    a(href='#')
                        i.icon-bell
                        |  Action
                li
                    a(href='#')
                        i.icon-shield
                        |  Another action
                li
                    a(href='#')
                        i.icon-user
                        |  Something else here
                li.divider
                li
                    a(href='#')
                        i.icon-bag
                        |  Separated link
// END PAGE BAR
// BEGIN PAGE TITLE
h3.page-title
    | 业主验房
// END PAGE TITLE
// END PAGE HEADER
.row
    .col-md-12
        | 业主验房的内容。。。。。