doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='Mosaddek')
        meta(name='keyword', content='FlatLab, Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina')
        link(rel='shortcut icon', href='img/favicon.png')
        title XX官网 | 产品
        include common/header
    body
        include common/nav
        // breadcrumbs start
        .breadcrumbs
            .container
                .row
                    .col-lg-4.col-sm-4
                        h1 Pricing Table
                    .col-lg-8.col-sm-8
                        ol.breadcrumb.pull-right
                            li
                                a(href='#') Home
                            li
                                a(href='#') Pages
                            li.active Price
        // breadcrumbs end
        // container start
        .container
            .row
                // price start
                .text-center.feature-head
                    h1  30 days Free Trial on All Accounts
                    p No risk. No hidden fees. Cancel at anytime.
                .col-lg-3.col-sm-3
                    .pricing-table
                        .pricing-head
                            h1  Diamond
                            h2
                                span.note $
                                | 4000
                        ul.list-unstyled
                            li 8 hours coverage
                            li 500 digital images
                            li 100 A3 Hard Copy
                            li Bridal portrait with 11X14
                            li Engagement portrait with 11X14
                            li Income Tax included
                        .price-actions
                            a.btn(href='javascript:;') Get Now
                .col-lg-3.col-sm-3
                    .pricing-table
                        .pricing-head
                            h1  Platinum
                            h2
                                span.note $
                                | 3000
                        ul.list-unstyled
                            li 8 hours coverage
                            li 500 digital images
                            li 100 A3 Hard Copy
                            li Bridal portrait with 11X14
                            li Engagement portrait with 11X14
                            li Income Tax included
                        .price-actions
                            a.btn(href='javascript:;') Get Now
                .col-lg-3.col-sm-3
                    .pricing-table.most-popular
                        .pricing-head
                            h1  Gold
                            h2
                                span.note $
                                | 2000
                        ul.list-unstyled
                            li 8 hours coverage
                            li 500 digital images
                            li 100 A3 Hard Copy
                            li Bridal portrait with 11X14
                            li Engagement portrait with 11X14
                            li Income Tax included
                        .price-actions
                            a.btn(href='javascript:;') Get Now
                .col-lg-3.col-sm-3
                    .pricing-table
                        .pricing-head
                            h1  Silver
                            h2
                                span.note $
                                | 1500
                        ul.list-unstyled
                            li 8 hours coverage
                            li 500 digital images
                            li 100 A3 Hard Copy
                            li Bridal portrait with 11X14
                            li Engagement portrait with 11X14
                            li Income Tax included
                        .price-actions
                            a.btn(href='javascript:;') Get Now
                // price end
        // container end
        include common/footer
